<h1>User info</h1>

  <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", size: "100x100" %>
	<table>
		<tr>
		  <th>name</th>
		  <th><%= user.name %></th>
		</tr>
		<tr>
	      <th>introduction</th>
		  <th><%= user.introduction %></th>
		</tr>
	</table>

	<div class="actions">
		<% if user.id == current_user.id %>
        	<%= link_to "編集する", edit_user_path(user.id) %>
		<% end %>
	</div>