<h2>Users</h2>

<body>
 <table>
  <thead>
　  <tr>
	 <th>Image</th>
　　  <th>name</th>
　　  <th></th>
　  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
   <tr>
     <td><% attachment_image_tag user, :profile_image, fallback: "no-image.png" %></td>
　　  <td><%= user.name %></td>
     <td><%= link_to "Show", user_path(@user) %></td>
　  </tr>
  <% end %>
  </tbody>
 </table>
</body>