<%= render 'users/info' %>
<%= render 'books/new' %>

<h1>Books</h1>

	<table>
	  <thead>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
					　
	</thead>
<body>
	<% @books.each do |book| %>
	  <tr>
	  <td><%= book.title %></td>
	  <td><%= book.body %></td>
	  </tr>
	<% end %>
</body>
	</table>